.logo-text {
    font-family: Montserrat, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: #000000;
    padding-left: 0.5rem;
    border-left: 1px solid black;
}