.add-object-modal-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #fff;
    padding-top: 4rem!important;
    color: #113d18;
}

.close-modal{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.modal-body{
    background-color: #fdf4dc;
    height: 100%;
    border-radius: .5rem;
    min-width: 20rem;
    max-width: 40rem;
}

.underline-input{
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #113d18;
    border-radius: 0!important;
}

.underline-input:focus{
    box-shadow: none;
    border-bottom: 1px solid #113d18;
}

.underline-textarea{
    border: 1px solid #113d18;
    border-radius: 0.3rem!important;
}

.underline-textarea:focus{
    box-shadow: none;
    border: 1px solid #113d18;
}

.button-outlined{
    background-color: transparent;
    border: 1px solid #113d18;
}

.button-main{
    background-color: #113d18;
    color: #fff;
}

.button-main:focus, .button-main:hover{
    color: #fff;
}

