.list-items-horizontal .list-items {
    display: flex;
    flex-wrap: inherit;
}

.list-items-horizontal .menu-item {
    background-color: #B2D8B8;
}

.list-items-horizontal .top-level-item {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.list-items-horizontal .top-level-item>p {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

    background: #B2D8B8;
    width: 100%;
    display: inline-block;
    border-radius: 0.625rem;
    padding: 0.45rem 0.6rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #113D18;
}

.list-items-horizontal .top-level-item.open>p {
    background-color: #FCF4DB;
}

.list-items-horizontal .second-level-items {
    position: absolute;
    width: 12rem;
    background-color: #FCF4DB;
    border-radius: 0.625rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    max-height: 0;
    padding: 0;
    overflow-y: auto;
    transition: max-height 0.05s;
}

.list-items-horizontal .open .second-level-items {
    padding: 0.45rem 0.6rem;
    height: auto;
    max-height: 10rem;
    margin-bottom: 0.5rem;
}

.list-items-horizontal .second-level-item>span {
    align-items: center;
    display: flex;
    cursor: pointer;
}
