.list-mode-modal-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.left-menu-item {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
}

.highlighted-left-menu-item {
    background-color: #fff;
}

@media screen and (min-width: 1000px) {
    .show-wrapper {
        display: flex;
        justify-content: center;
    }

    .show-wrapper .show {
        width: 80%
    }
}

.select-country select,
.select-country select:focus,
.select-country select:active {
    background: transparent;
    border: none;
    box-shadow: none;
}

.height-scroll-container {
    overflow-y: auto;
    height: 40vh;
}