.main-bg {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/img/bg_warsaw.jpg");
  background-position: center;
}

.left-pane {
  height: 100%;
  width: 45%;
  background: rgba(217, 217, 217, 0.01);
  backdrop-filter: blur(8.0213px);
  position: absolute;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  overflow-y: auto;
}

.center-items {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.hero-text-2 {
  color: #FCF4DB;
  font-family: Montserrat, arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.75rem;
  letter-spacing: 0.1rem;
  /* background: linear-gradient(268.72deg, rgba(178, 216, 184, 0.4) -24.33%, rgba(42, 82, 48, 0.5) 28.99%, #113D18 94.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
   */
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.pv-20-percent {
  padding-bottom: 20%;
  padding-top: 20%;
}

.hero-button-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #FCF4DB;
}

.hero-button {
  border-radius: 0.625rem;
  box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 38%);
  border: 1px solid rgb(255 255 255 / 16%);
}

.hero-button:hover {
  border: 1px solid rgb(255 255 255 / 16%);
}

.hero-button-1 {
  background-color: #ffffff00;
}

.hero-button-1:hover {
  color: white;
  background-color: #ffffff22;
}

.hero-button-2 {
  background-color: white;
  color: #113D18;
}

.hero-button-2:hover {
  color: #113D18;
  opacity: 0.8;
}

@media screen and (max-width: 680px) {
  .left-pane {
    width: 100%;
    max-height: 33rem;
  }
}

@media screen and (max-width: 900px) {
  .hero-button-text {
    font-size: 1.1rem;
  }
}